#header-nav {
  border-radius: 0;
  border: 0;
  background-color: #E0E0E0
}
.navbar-brand {
  font-size: 1.5em;
}
#nav-list a {
  color: #000;
  text-align: center;
}
#nav-list a:hover {
  background: #fff;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}
.menu-item {
  background: #C0C0C0;
  padding: 15px;
}